@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background: rgb(22, 129, 163);
  background: radial-gradient(
    circle,
    rgba(22, 129, 163, 1) 0%,
    rgba(1, 30, 70, 1) 100%
  );
  margin: 0px;
  padding: 0px;
}

.party-popper-image {
  position: absolute;
  width: 40%;
  z-index: -1;
}

.party-popper-image-2 {
  right: 0;
  transform: scaleX(-1);
}

.title-home {
  color: #fff;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  text-shadow: 5px 5px 20px black;
  text-shadow: -5px -5px 20px black;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 50px;
}

.subtitle-home {
  color: #dfb969;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  text-shadow: 5px 5px 20px black;
  text-shadow: -5px -5px 20px black;
  font-size: 25px;
  font-weight: 900;
  margin-top: 10px;
}

.container-body {
  margin: 0 auto;
  /* background-color: red; */
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
}

.footer-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}
